{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %}


{% block content %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<br> <br>
		<h2>
			<strong class="text-align-center">Sesión Terminada con éxito</strong>
		</h2>

		<br>
		<p>
		<h3>
			<strong class="text-align-center">Te echaremos mucho de
				menos....</strong><i class="fa fa-5x fa-heart" aria-hidden="true"></i>
		</h3>

		<a class="btn btn-lg btn-primary" href="{% url 'index'%}"
			role="button">Volver &raquo;</a>

		</p>
	</div>
</div>
{% endblock %}
