body {
  min-height: 750px;
}

.navbar-static-top {
  margin-bottom: 30px;
}

.navbar-default{
	background-color:#000000;
	color: white;
	border-color: red !important;
}

.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-brand:hover{
	color:red;
}

.navbar-default .navbar-nav>li>a{
	color:#ffffff;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#ff0000;
}