{% extends "base.html" %}

{%block content %}

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="lead text-align-center">
			<strong>Nuestra Historia</strong>
		</h1>
	<br>
	<i class="fa fa-quote-left fa-5x fa-pull-left fa-border" aria-hidden="true"></i>
	<p class="lead text-align-center">Es una historia muy larga ! Tienes tiempo ? Te quedas un ratito para que te lo contemos?</p>
	<p class="lead text-align-center">Somos casi ex-alumnos de la universidad ! Pronto nos convertiremos en grandes ingenieros informaticos....o eso esperamos!! XD</p>
	<br>
	<p class="lead text-align-center">Blahblahblahblahblahblahblah</p>
	<p class="lead text-align-center">Blahblahblahblahblahblahblah</p>
	<p class="lead text-align-center">Blahblahblahblahblahblahblah</p>
	</div>
</div>
{% endblock %}