{% load static %}
{% include "head_css.html" %}
<html lang="en">
  <head>
    <style>
    {% block style %} {% endblock %}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block head_title %} {% endblock %} MundoDeportivo AII</title>
 </head>

  <body>
   {% include "navbar.html" %}
    
    <div class="container">
   	 	{% block jumbotron %}
    	{% endblock %}   
        {% block content %}
        {% endblock %}
        
         <!-- FOOTER -->
      <footer>
        <p>© 2017 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
        
    
    </div> <!-- /container -->
     
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static '/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>